.BBBLogo {
	margin-top: 8px;
}

.icon-redcart{
	color: #EB5C63 !important;
	font-size: 10px !important;
}


/*.store_pricing_table .title{
	background-color: #ffcb37;
	color:black;
}*/

#checkout_container
{
	width: 100%;
	margin-top: 0px;
	margin-left: auto;
	margin-left: auto;
	padding: 5px;
	/* background-image: url('https://wrightcheck.com/media/images/supplementrelief-logo-blue-landscape-large.jpg');
	background-repeat: no-repeat;
	background-position: center;
	opacity: .9; */
	}
.checkout_site_logo
{
	margin: 10px;
	text-align: center;
}
#header_checkout_div
{
	border-bottom: 1px solid #eee;
    padding: 9px 15px ;
}
.checkout_block_body
{
	overflow-y: auto;
    padding: 20px;
}
.checkout_block
{
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	position: relative;
	width: auto;
}
.check_out_body
{
	background-color: #FFFFFF; /* #eeeeee; */
}
.billing_header
{
	margin: 0 0 10px;
	border-bottom: 1px solid #eeeeee;
}
#checkout_form span
{
	font-size: 16px;
}
.billing_text
{
	background-color: white;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size: 0.875rem;
	height: 2.313rem;
	margin: 0 0 1rem;
	padding: 0.5rem;
	transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
	/* width: 190px !important; */
}

.billing_text:focus
{
	 border-color: #999999;
	 box-shadow: 0 0 5px #999999;
	 background: none repeat scroll 0 0 #fafafa;
}
	
#x_country , #x_shipping_country , #x_state, #x_shipping_state
{
	/* width: 190px !important; */
}

#checkout_form .label
{
	background-color: white;
	color: #007095;
	font-weight: bold;
}

#x_country option,#exp_month option,#exp_year option
{
	color: rgba(0, 0, 0, 0.75);
}
.panel_content
{
	background-color: #f2f2f2 !important;
}
.address_text_area
{
	background-color: white;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size: 0.875rem;
	height: 2.313rem;
	margin: 0 0 1rem;
	padding: 0.5rem;
	transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
}
.address_text_area:focus
{
	 border-color: #999999;
     box-shadow: 0 0 5px #999999;
	 background: none repeat scroll 0 0 #fafafa;
	 
}
.button_cursor
{
	cursor: default;
}
.reveal-modal .close-reveal-modal, dialog .close-reveal-modal
{
	top: -0.5rem;
}
#stick-content .label
{
	background-color: white;
	color: #007095;
	font-weight: bold;
	font-size: 19px;
}
#form_mobile .label
{
	background-color: white;
	color: #007095;
	font-weight: bold;
	font-size: 19px;
}
	
span.postfix {
  border-left-style: solid !important;
  border-left-width: 1px !important;
}

#button {
	height:37px;
}
		
			
.cart_image{
	max-height: 160px;
}			

