.lt-ie9 .tabs-content > .content {
    float 	: left !important;
    display : none !important;
}

.lt-ie9 .tabs-content > .active.content {
    float 	: none !important;
    display : block !important;
}
