/* Production CSS */
/* <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/spark.css" /> 
   Used in Custom Header section of each Rapidweaver page that needs this CSS.
   Could be placed in the theme index.php template for use on every page of the website which
   would alleviate the need to place it in the Customer Header section. Other projects that use this theme would then
   get this CSS as well which may not be a good thing. */

/*   
.faq-item {
	margin-left: 20px;
	padding: 10px;
}
*/
/*
.tabs-content > .content {
  padding: 1rem !important;
}
*/

/* Icons */

/*
.nav-icon-color {
    color: #ed5457;
}
*/

/* Wright Check
.icon-home {
    color: #1fb8b5;
}
*/

.modalButton {
	margin-top: 8px;
}

input[name="comment_note"] {
	display: none;
}

/* Hack to get Foundation Sticky to work correctly on e-Commerce pages. Some kindof js conflicts coming from e-Commerce. */
#fixStickyMarginSmall {
	margin-bottom: 135px;
}

/* Hack to get Foundation Sticky to work correctly on e-Commerce pages. Some kindof js conflicts coming from e-Commerce. */
#fixStickyMarginMediumUp {
	margin-bottom: 155px;
}

#eCommerceHeaderLogoImage {
	padding-top: 10px;
}

#e-commerce-products-header {
	padding: 12px 0px 12px 0px;
	/* background-color: #EEEEEE; */
	background-color: white;	
}

#assessmentHeaderImage, #assessmentRubricResultImage {
    max-width: 640px !important;
    margin: auto !important;
}

.assessmentResponseImage {
	/* font-weight: bold; */
}

#assessmentHeaderVideo {
    max-width: 360;
    margin: auto;
    /* border: 3px solid #73AD21; */
}

#memberDashboardProgramListingTitle {
	font-size: 1.5em;	
}

#menuPhone {
	color:white;
}

#featureVideo {
	margin: auto;
	max-width: 640px;
}

#metaLengthTooLong {
    padding: 10px;
    background-color: #cde2ee;   
}

.sitemapHeaderH2 {
  font-size: 1.8em;      
}

.sitemapHeaderH3 {
  font-size: 1.2em;
  margin-top: -10px;      
}

.caption {
    margin-top: 4px;
    font-size: .9em;
    font-style: italic;
    text-align: center;    
}

.imageRadius {
    border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#homePageH2 {   
   font-size: 1.5em;
}

#ingredientsHeader p {
    margin-left: 10px;
    font-weight: bold;
}

#ingredientsFooter p {
    margin-left: 10px;
}

#productsH1Title {   
   font-size: 1.3em;
   font-style: italic;
   color: white;
   background-color: #61AFD1;
   /* background-color: #5CB64B; */
   padding: 8px;
   text-align: center;
   	border-radius: 2px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#productShortDescription p {
	font-weight: bold;
}

.storeProductTitle {
	font-size: 1.3em;
}

.productTitle {
	background-color: #61AFD1;
	color: white;
	padding: 4px;
	margin-top: -1px;
	margin-bottom: 0px;
}

#productsFound {	
	color: #EB5C63;
	font-weight: bold;
}

.BBBLogo {
	margin-top: 8px;
}

.imageWrapTopMargin {
	margin-top: 10px;
}


@media only screen and (max-width: 40em) {
  .colWrapMargin {
    margin-top: 12px;
  }
}

#bannerImage {
	margin-bottom: 7px;	
}

.linkUnderlineWhite {
	text-decoration: underline;
	color: white;
	font-weight: bold;
}

.alphaNavigation {
	font-size: 150%;		
}

#contact-form
	{
		background-image: url("https:/wrightcheck.com/media/images/we-are-here-to-help-large-landscape.jpg");
		opacity:0.1;
		/* bottom: 20px; */
		/* right: 20px; */
		/* width: 38px;  */  /* Width of image */
		/* height: 38px; */  /* Height of image */
	}


/* SupplementRelief.com */
.icon-home {
    color: #61AFD1;
}

/* Wright Check 
.nav-icon-color {
    color: #ed5457;
} */

.nav-icon-color {
    /* color: #EB5C63; */
    color: #ffffff;
}

/* SupplementRelief.com */
.nav-icon-menu-color {
    /* color: #EB5C63; */
    color: #ffffff;
}

.nav-icon-footer-color {
    /* color: #EB5C63; */
    color: #EB5C63;
}

/* <i class="fa fa-pencil fa-2x icon-education"></i> Education */

.icon-education {
    color: #ffcb37; /* 464646; */
}

/* <i class="fa fa-comment fa-2x icon-blog"></i> Blog */

.icon-blog {
    color: #F29899;
}

/* <i class="fa fa-briefcase fa-2x icon-resources"></i> Resources */

.icon-resources {
    color: #bcd057;
}

/* <i class="fa fa-bullhorn fa-2x icon-news"></i> News */

.icon-news {
    color: #ed5457;
}

/* <i class="fa fa-shopping-cart fa-2x icon-store"></i> Store */

.icon-store {
    color: #51a375;
}

/* Wright Check 
.icon-yellow {
    color: #ffcb37;
} */

/* SupplementRelief.com */ 
.icon-yellow {
    color: #FBDD3C;
}

/* Wright Check 
.icon-aqua {
    color: #1fb8b5;
} */

/* SupplementRelief.com */
.icon-aqua {
    color: #61AFD1;
}

/*
	Wright Check
.icon-red {
    color: #ed5457;
}
*/

/* SupplementRelief */

.icon-red {
    color: #EB5C63;
}

.icon-green {
    color: #5CB64B;
}

.icon-white {
    color: #ffffff;
}

.icon-text {
    color: #2d2d2d;
}

.headerBackground {
	padding: 15px;
	background-color: #F7F7F7;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#articleTextBlocks h2 {
	font-size: 1.8em;
	font-weight: bold; 
}

#articleTextBlocks h2, 
#articleTextBlocks h3,
#articleTextBlocks h4,  
#educationTextBlocks h3, 
#educationTextBlocks h4, 
/* #blogPostPrimaryText h2, 
#blogPostPrimaryText h3, */ 
#product-description h2, 
#product-description h3 {
	padding: 15px;
	background-color: #F7F7F7;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#articleTextBlocks h2.td, 
#articleTextBlocks h3.td  {
    
}

.bottomPadding10 {
   padding-bottom: 8px;
 }

.maxRowWidth {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   
 }

/* scrollUp Arrow */
#scrollUp
	{
		background-image: url("https://cdn-manager.net/media/images/top.png");
		bottom: 20px;
		right: 20px;
		width: 38px;    /* Width of image */
		height: 38px;   /* Height of image */
	}

#storeProductLabels {
	margin-bottom: 10px;
}

#productCallToAction {
	color: white; /* SupplementRelief.com */
	padding: 20px 20px 5px 20px;
	margin-top: -5px;	
	margin-bottom: 15px;
	/* background-color: #ffcb37; /* ffcb37 1fb8b5 Wright Check */
	background-color: #61AFD1; /* SupplementRelief.com */

	/* color: white; */
}

#blogPostCitations {
	padding: 20px 20px 10px 20px;
	background-color: #F7F7F7; 	
	
}

.form_text_link {
	background: none;
	border-style: none;
	text-decoration: underline;
	font-size: 14px;
	cursor: pointer;
	color: #1fb8b5;
}

.form_text_link:hover {
	color: #0e9693;
}

/* Styles for Calendar */
.calendar {
  /* padding-bottom: 26px; */
  padding-bottom: 21px;  
  margin-top: 20px;
  width: 100%;
  display: block;
}
.calendar thead {
  display: none;
}
@media only screen and (min-width: 767px) {
  .calendar thead {
    text-align: center;
    display: block;
  }
}
.calendar tbody td {
  display: block;
  clear: both;
}
@media only screen and (min-width: 767px) {
  .calendar tbody td {
    display: table-cell;
    width: 165px;
    height: 165px;
    position: relative;
  }
}
.calendar tbody td span {
  position: absolute;
  top: 5px;
  left: 5px;
}
.calendar .day {
  display: block;
  float: left;
  width: 20px;
  margin-right: 10px;
}
.calendar .inactive {
  color: #ccc;
}
.calendar .event {
  float: left;
  border-radius: 3px;
  display: block;
  padding: 2px;
  font-size: 0.9em;
  cursor: pointer;
  position: relative;
  margin-top: 18px;
  margin-bottom: -12px;
}
.calendar .event.blue {
  background: #3a87ad;
}
.calendar .event.yellow {
  background: #f9c846;
}
.calendar .event.green {
  background: #a7d85b;
}

/*  ======================================
displaying for small 
 ======================================*/
@media only screen and (max-width: 767px) {
  .calendar tbody td {
    width: 100% !important;
  }
  .calendar tbody td span {
    position: relative;
  }
  .calendar .event {
    float: none;
    margin-top: 5px;
    position: relative;
    margin-left: 15px;
    margin-bottom: 0;
  }
  .calendar tbody tr, .calendar tbody {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 767px) {
  .event {
    width: 100%;
    display: block;
  }
}


.blogPostImageCaption {
	margin-top: 5px;
	font-size: 90%;
	font-style: italic;
	text-align: center;	
}

#learnMore {
	margin-top: 5px;
}

#recipeRow {
	margin-bottom: 10px;
}

#aboutWrightCheck {
	background: url('https://wrightcheck.com/media/images/libby-wright-jamie-wright-video-poster.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	opacity:0.4;
	margin: auto;
	padding: 20px 20px 20px 20px;
}

#aboutWrightCheckText {
	margin: 20px 20px 20px 20px;
	padding: 20px;
	color: white;
}


/* Foundation css example for customizing form fields */

.sample1 span {
  background-color: #73cacf;
  color: #fff;
  border: none;
}
.sample1 input {
  background-color: #c2f6f8;
  border: none;
  color: #007d9a;
}
.sample2 span.prefix {
  background-color: #fefbf2;
  border-bottom: 1px solid #ccc;
}
.sample2 span {
  border: none;
}
.sample2 input {
  background-color: #FEFBF2;
  border: none;
  border-bottom: 1px dashed #999;
  box-shadow: none;
  font-family: georgia serif;
  font-style: italic;
  font-size: 1.3rem;
}

#productFeatureImage {
	text-align: center;
}

#productFeatureUPC {
	margin-top: 5px;
	font-size: .8em;
}


#productImageModal {
	/* margin-top: 10px; */
	/* font-size: .8em;	*/
	/* font-weight: bold; */
	text-align: center;
}

#productImageModalCaption {
	margin-top: 10px;
	margin-bottom: 10px;	
	font-size: .8em;
	font-style: italic;	
	/* font-weight: bold; */
	text-align: center;
	
}


/*
#productUPC {
	margin-top: 3px;
	font-size: .8em;
	text-align: center;
}
*/
/*
#product-icons {
 	margin-top: 10px;
	// font-size: .8em;	
	// font-weight: bold;
	text-align: center;
}
*/

#productIcons {
	text-align: center ;
	margin-top: 15px;
}

.accordion-navigation > .content, .accordion dd > .content {
  padding: 0.83333rem;
}
     
.home-page-featured-content {
	background: url('https://wrightcheck.com/media/images/attractive-woman-contemplating-food-choice.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	opacity:0.2;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 20px;
}
   
   
/* for hiding or turning display off */

#sessionMessage {
	margin-top: 20px;
}

.hidden {
	display: none;	
}

.meter-text {
	text-align: center;
	font-size: .8em;
}

/* Other Icon styling */
   
.accordionIcon {
	padding-top: 13px;
}

/* User Status Bar just beneath Logo and Main Navigation at top of each page. */

#clientUserHeader {
	padding: 10px;
	background-color: #F7F7F7; /* F7F7F7 */	
} 

.stripLogo {
	text-align: center;
 	padding: 5px;
}  

#userStatusBar {
	padding: 20px;
	background-color: #F7F7F7 	
} 

#pageHeader {
	text-align: center;
	padding: 3px 10px 3px 10px;
	background-color: #ffcb37; /* F7F7F7 */	
} 
 

/* Program Topic Pillar header */

#programTopicHeader {
 	padding-top: 10px;
 	padding-bottom: 10px;
	background-color: #ffcb37; 	
}  
  
#programTopicTitle {
	margin-top: 2px;
 	text-align: left;
}

#programIcon {
	margin-top: 10px;
}

/*
#programTopicTitle {
	position: relative;
} 

#inner {
	height: 10em;
	margin-top: 1em;
	position: absolute;
	top: 50%;
} 

*/   
   
/* Course Outline */

#courseOutlineLinks ul {
	margin-left: 0px;
	/* padding-left: 0px !important; */		
}

.courseNavigation {
	list-style-type: none;	
}

.courseNavigation li {
	margin-left: 0px !important;
	font-size:.1.0em;
	padding-left	: 10px;
	padding-right: 10px;
}

.courseNavigation li.active {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	/* background-color: #1fb8b5; Wright Check */
	background-color: #61AFD1;
	border-radius: 0 10px 0 10px;
	-moz-border-radius: 0 10px 0 10px;
	-webkit-border-radius: 0 10px 0 10px;
}

.courseNavigation li.active a {
	color: #ffffff;
}

.courseNavigation ul li:hover {
 	color: #ed5457;
}

/*
ul li a:hover, ul li a:focus {
 	color: #ed5457;
}
*/
/*
ul li a:hover, ul li a:focus {
 color: blue;
}
*/

/*
a:hover.courseNavigation {
    color: #1FB8B5 important;
}
*/
/*
a:active, span.active {
  color: orange !important;
}

/*
a, span.link {
 color: blue !important;
}

a:visited, span.visited {
  color: purple !important;
}

a:active, span.active {
  color: red !important;
}

/* unvisited link*/
/*
a:link.altLink {
    color: #C21724 !important;
}
*/

/* visited link */
/*
a:visited.altLink {
    color: #464646 important;
}
*/

/* mouse over link */
/*
a:hover.altLink {
    color: #1FB8B5 important;
}
*/

/* selected link *//*
a:active.altLink {
    color: #1FB8B5 important;
}
*/



/* https://wrightcheck.com/spark/education/?course_id=877&tid=1036&wpid=1037#fndtn-read */
    
/* Education page Sidebar Course Outline section */   
      
#educationCourseTitle {
	padding: 20px;
	background-color: #464646; 	
}

/* Education page Sidebar Topic Objectives section */

#educationTopicObjectives {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	background-color: #f9f9f9;	
	/* background-color: #ffca39; Wright Check */
	/* background-color: #FBDD3C;  SupplementRelief.com */
}

/* Education page Sidebar Key Thought section */

#educationKeyThought {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;	
	/* background-color: #1fb8b5; Wright Check */
	background-color: #61AFD1; /* SupplementRelief.com */		
}

/* Education page Sidebar Terms section */

.term {
	padding-top: 15px;
	padding-bottom: 10px;	
	padding-left: 20px;
	padding-right: 10px;	
	background: #f9f9f9;
} 

.termTitle {
	font-size: 1.4em;
	font-weight: bold;	
}  
 
.termDefinition {
	padding-bottom: 10px;
}  

#educationTerms p {
	margin-bottom: 5px;
}

/* Education page Video tab Video section */

#watch {
	margin-top: 5px;
}

#read {
	margin-top: 5px;
}

#discuss {
	margin-top: 5px;
}

#videoPosterFrame {
	text-align: center;	
}

.videoCaption {
	font-size: 1.0em;
	text-align: left;
	/* font-style: */
    padding: 15px;   
    background-color: #464646;
    color: white;
}

/*
#videoCaptionText {
	float: left;
	font-size: 1.0em;
	text-align: left;
	vertical-align: text-top;		
}
*/

/* Education page Read tab Challenge section */

#educationChallenge {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	background-color: #F7F7F7; 	
}

/* Education page Read tab Images section */

.imageCaption {
	font-size: 85%;
/*	font-style: italic; */
    text-align: left;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: #464646;
    color: white;
/*  color: white !important; */
    
}

.imageCaptionMultiple {
	font-size: 80%;
/*	line-height: 100%; */
/*	font-style: italic; */
    text-align: left;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
/*  background-color: #464646; */
}

/* Education page Read tab Text Blocks section */

#educationTextBlocks {
	margin-top: 20px;
}

#educationTextBlocks ol {
	padding-left: 20px;
}

#educationTextBlocks ul {
	padding-left: 20px;
}

/* Education page Read tab Citations section */

#educationCitations {
	padding: 20px 20px 10px 20px;
	background-color: #F7F7F7; 	
}

/* Education page Discuss tab Discussion Forum section */

#educationDiscussionForum {
	margin-top:0px;
	padding:0px;
}

#discussionThreadForm {
	margin-bottom: 20px;
}

#threadPost {
	margin-top: 25px;
	margin-left: 15px;	
}

#replyPost {
	padding-top:10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 1px;
	margin-bottom: 10px;
	margin-left: 30px;
	background-color: #F7F7F7; 	
}

#replyPostBody {
	margin-top: 5px;
	margin-left:18px;
	
}

#discussionReplyForm {
	margin-right: 20px;
	margin-left: 30px;	
	padding-right: 20px;
	margin-bottom: 5px;
}

/* Blog Listing: Shows all Blogs for a Project Program Offering */

.blog {
	margin: 2%;
}

.blogContainer {
	margin-top: 10px !important;	
	border-right: 1px solid #cdcdcd !important;
	border-bottom: 1px solid #cdcdcd !important;
	-moz-border-radius: 0px 0px 5px 0px;
	-webkit-border-radius: 0px 0px 5px 0px;
}

.blogSummary {
	margin: 0px 0px 5px 0px;
	padding: 10px 20px 0px 20px;
}

#blogSummaryLogo {
	padding: 8px;
	text-align: center;	
}

#blogSummaryTitle {
	margin-top: 15px;
}

/* Blog Posts */

.blogPostContainer {
	margin: 0px 10px 0px 10px;
	padding: 10px 10px 10px 10px;
	/* border-bottom: 1px solid #333; */
	/* border-right: 2px solid #cdcdcd !important; */
	/* border-bottom: 2px solid #cdcdcd !important; */
	/* -moz-border-radius: 0px 0px 10px 0px; */
	/* -webkit-border-radius: 0px 0px 10px 0px;	*/
}

.no-underline {
	text-decoration: none !important;
}

.blogPostSummary {
	margin: 0% 0% 0% 0%;
	padding: 20px 20px 20px 20px;
	background-color: #F7F7F7;
	-moz-border-radius: 0px 0px 10px 0px;
	-webkit-border-radius: 0px 0px 10px 0px;	
}

.blogPostTitle H1 {
	font-size: 1.9em;
}

.blogPostSummaryImage {
	margin-top: 0px;
	text-align: center;
	/* -moz-border-radius: 20px 20px 20px 20px; */
	/* -webkit-border-radius: 20px 20px 20px 20px; */			
}

.blogPostAuthorTimestamp {
	margin-left: 10px;
}

.blogPostReadMore {
	margin-left: 32px;
}

.blogPostSummaryDescription {
	margin-top: 10px;
}

.blogPostBody {
	padding: 2%;
}

/* Blog Post Audio */

.blogPostAudio {
	margin-bottom: 10px;
}

.blogPostDocument {
	margin-bottom: 10px;
}


/* Blog Post Quote */

.blogPostQuote {
    display: block;
    margin-top: 1em;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.blogPostQuoteAuthor {
	font-size: 1em;
	font-style: italic;
	float: right;
	margin-right: 80px;
	margin-bottom: 15px;
}

/* Blog Post Photo */

.blogPostImage {
	display: block;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px; 
	margin-bottom: 20px;	
}

/* Blog Post Video */

.blogPostVideo {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px; 
	margin-bottom: 10px;
}


/* Begin Blog Post Comments */

#blogPostCommentForm {
	/* margin: 0% 2% 0% 2%; */
	/* width: 80%; */
}

.blogPostCommentContainer {
	border: 1px solid #DDDDDD;
	margin: 5px 15px 10px 15px;
	padding: 10px;
}

.blogPostComment {
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	background-color: #F7F7F7;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;		
}

.blogPostReply {
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	background-color: #DDDDDD;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;		
}

.topicReply {
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	background-color: #DDDDDD;
	/* -moz-border-radius: 10px 10px 10px 10px; */
	/* -webkit-border-radius: 10px 10px 10px 10px; */	
}


.commentBodyText {
	margin-top: 8px;
	padding-left: 17px;
}

.blogPostCommentReply {
	margin: 0px 10px 10px 40px;
	/* padding: 10px 10px 10px 20px; */
	/* background-color: #DDDDDD; */
	/* -moz-border-radius: 12px 0px 0px 0px; */
	/* -webkit-border-radius: 12px 0px 0px 0px;	*/	
}

.topicCommentReply {
	margin: 0px 10px 10px 30px;
}


.commentBodyImage {
	text-align: center;
	margin: 10px 5px 0px 10px;
}

.topicReplyBodyImage {
	text-align: center;
	margin: 10px 0px 0px 10px;
}


.commentBodyVideo {
	text-align: center;
	/* margin: 10px 0px 0px 0px; */
	padding: 10px;
}

#blogPostCommentReplyForm {
	margin: 0px 20px 0px 40px;
	/* padding-right: 10px;	*/
}

.dividerLine {
	margin: 0% 3% 0% 3%;
}

#footerContainer {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;	
	background-color: #464646; /* Wright Check */
}

#copyrightFooter {
	color: white;
	font-size: .8em;
}

.breadcrumbs>* {
	text-transform:capitalize;
}

/* Medical Disclaimer footer */

#disclaimerPolicy {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;	
	background-color: #cdcdcd; /* Wright Check */
	/* background-color: #AFB9BA; SupplementRelief.com This is too dark. */	
}

#disclaimerPolicy p {
	/* color: #ffffff; */
	font-size: .8em;
	line-height: 125%;
}

   
/* Increases the height of the Select input fields on forms created using StackApps 1.5. 
   When these forms are used on the Joe Workman Foundation (Zurb) framework) theme, the display height is not enough to see the field value. */

/*
select.SAFormSelect {
    height:40px !important;
}

*/

/* Moves the Form Labels to the right, adjacent to the input fields which looks better. */

/*
label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    padding-right: 10px;
    text-align: right;
    vertical-align: text-top;
}
*/

   
/*  Styling for icons

Page Headers ffcb37 yellow
Course Title/Footer/Image Caption background 464646 dark grey
Logo and Home Icon 1fb8b5 aqua
Logo Refresh  #CE3A43  Red
FAQ icon ed5457 orange/red
Contact icon 51a375 green
Blog icon bcd057 light green

<i class="fa fa-home fa-2x icon-home"></i> Home
<i class="fa fa-comment fa-2x icon-blog"></i> Blog
<i class="fa fa-question fa-2x icon-faq"></i> FAQ
<i class="fa fa-phone fa-2x icon-contact"></i> Contact
<i class="fa tachometer fa-2x icon-dashboard"></i> Dashboard
<i class="fa fa-user fa-2x icon-user"></i> My Account

/* Increases the height of the Select input fields on forms created using StackApps 1.5. 
   When these forms are used on the Joe Workman Foundation (Zurb) framework) theme, the display height is not enough to see the field value. */

/*
select.SAFormSelect {
    height:40px !important;
}
*/

.listFormTable {
/*	  border: 1px solid #1fb8b5; */
	  width: 100%;
}

/* Add background color for Table Header area consistent with Page Title background color */
thead th {
/*  font-weight: 400; */
/*  background: #ffcb37; Wright Check */
/*  background: #FBDD3C; SupplementRelief.com */

/*  color: #FFF; */
}

th.centerImage {
	text-align:center !important;
}

/* Add background color for Table Header area consistent with Page Title background color */
.tableHeader {
/*  font-weight: 400; */
/*	background: #ffcb37; */
/*  color: #FFF; */
}


/* Moves the Form Labels to the right, adjacent to the input fields which looks better. */

/*
label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    padding-right: 10px;
    text-align: right;
}
*/


/* Moves the Form Labels to the right, adjacent to the input fields which looks better. */

#mobileTable tr:nth-child(even) {
  background: ##E5E5E5 !important;
}

/* Moves the Form Labels to the right, adjacent to the input fields which looks better. */

/*
td {
    padding: 35px !important;
}
*/

/* Add icon hover and icon selected styling later
.product-icons {
	color: #CE3A43;
}
*/
