.parallax-1-Image {
    /* The image used */
    background-image: url("https://cdn-manager.net/media/test/parallax-1100x882.jpg");

    /* Set a specific height */
    min-height: 750px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1-Content { 
	height: 140px;
	background-color: transparent;	
}

.parallax-2-Image {
    /* The image used */
    background-image: url("https://cdn-manager.net/media/test/parallax-1100x773.jpg");

    /* Set a specific height */
    min-height: 650px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2-Content { 
	height: 0px;
	background-color: transparent;	
}

.parallax-3-Image {
    /* The image used */
    background-image: url("https://cdn-manager.net/media/test/parallax-1100x774.jpg");

    /* Set a specific height */
    min-height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3-Content { 
	height: 0px;
	background-color: transparent;	
}






